.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/*
!outputs/.gitkeep
project_plan.md
extensions_pack.md

.DS_Store
*.egg-info/
